<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['$$', '$$']]
    },
    svg: {
      fontCache: 'global'
    }
  };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.css">
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs" type="module"></script>
  <script>
    mermaid.initialize({ startOnLoad: true });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1/components/prism-core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1/plugins/autoloader/prism-autoloader.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1/themes/prism-coy.css">


  <style>
    body {
      font-size: 18px;
    }

    th, td {
      border: 1px solid;
    }
  </style>
</head>
<body>
  {{ content }}
</body>
</html>
